*.class
# Package Files #
*.jar
*.war
*.ear
nbactions.xml
/target/
/core/target/
/infra-jpa-ejb/target/
/infra-jms/target/

# IntelliJ
.idea/
*.iml

pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
